
.vs/.DS_Store
.DS_Store
.DS_Store
.vs/ToToolkit/xs/UserPrefs.xml
.vs/ToToolkit/xs/project-cache/ToToolkitSample.iOS-Debug|iPhoneSimulator.json
.vs/ToToolkit/xs/project-cache/ToToolkitSample.iOS-Debug|iPhone.json
.vs/ToToolkit/xs/project-cache/ToToolkitSample.Android-Debug.json
.vs/ToToolkit/xs/project-cache/ToToolkitSample-Debug.json
.vs/ToToolkit/xs/project-cache/ToToolkit-Debug-Xamarin.iOS10.json
.vs/ToToolkit/xs/project-cache/ToToolkit-Debug-netstandard2.1.json
.vs/ToToolkit/xs/project-cache/ToToolkit-Debug-netstandard2.0.json
.vs/ToToolkit/xs/project-cache/ToToolkit-Debug-monoandroid11.0.json
.vs/ToToolkit/xs/project-cache/ToToolkit-Debug-MonoAndroid10.0.json
.vs/ToLogger/xs/UserPrefs.xml
.vs/ToLogger/xs/project-cache/ToLoggerSample.Android-Debug.json
.vs/ToLogger/xs/project-cache/ToLoggerSample-Debug.json
.vs/ToLogger/xs/project-cache/ToLogger-Debug-Xamarin.iOS10.json
.vs/ToLogger/xs/project-cache/ToLogger-Debug-netstandard2.0.json
.vs/ToLogger/xs/project-cache/ToLogger-Debug-netstandard2.0.json
.vs/ToLogger/xs/project-cache/ToLogger-Debug-Xamarin.iOS10.json
.vs/ToLogger/xs/project-cache/ToLoggerSample-Debug.json
.vs/ToLogger/xs/project-cache/ToLoggerSample.Android-Debug.json
.vs/ToLogger/xs/project-cache/ToLogger-Debug-netstandard2.0.json
